{% extends "projects/base.html" %}
{% load static %}
{% load json_script %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<div class="dashboard">
    <div class="dashboard-header">
        <h1>Dashboard</h1>
    </div>

    <!-- CSRF Token -->
    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">

    <!-- Project Selection Dropdown -->
    <div class="project-selection">
        <label for="project-select">Select Project:</label>
        <select id="project-select">
            <option value="all">All Projects</option>
            {% for project in projects %}
                <option value="{{ project.id }}" {% if project == selected_project %}selected{% endif %}>{{ project.name }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="dashboard-cards">
        <div class="card total-projects">
            <h2>{{ total_projects }}</h2>
            <p>Total Projects</p>
        </div>
        <div class="card total-tasks">
            <h2>{{ total_tasks }}</h2>
            <p>Total Tasks</p>
        </div>
        <div class="card total-companies">
            <h2>{{ total_companies }}</h2>
            <p>Total Companies</p>
        </div>
        <div class="card active-projects">
            <h2>{{ active_projects }}</h2>
            <p>Active Projects</p>
        </div>
        <div class="card completed-projects-ytd">
            <h2>{{ completed_projects_ytd }}</h2>
            <p>Projects Completed YTD</p>
        </div>
    </div>

    <div class="charts">
        <h2>Companies by State</h2>
        <canvas id="myBarChart"></canvas>
    </div>

    <div class="charts">
        <h2>Total Students in Each Subject</h2>
        <canvas id="myLineChart"></canvas>
    </div>

    <!-- Task List -->
    <div class="tasks">
        <h2>Tasks for <span id="project-name">{{ project.name }}</span></h2>
        <ul id="task-list">
            {% for task in tasks %}
                <li>{{ task.name }}: {{ task.start }} to {{ task.end }} (Progress: {{ task.progress }}%)</li>
            {% endfor %}
        </ul>
    </div>

    <!-- JSON Script Elements -->
    <script id="total-projects" type="application/json">{{ total_projects|json_script:"total-projects" }}</script>
    <script id="total-tasks" type="application/json">{{ total_tasks|json_script:"total-tasks" }}</script>
    <script id="total-companies" type="application/json">{{ total_companies|json_script:"total-companies" }}</script>
    <script id="active-projects" type="application/json">{{ active_projects|json_script:"active-projects" }}</script>
    <script id="completed-projects-ytd" type="application/json">{{ completed_projects_ytd|json_script:"completed-projects-ytd" }}</script>
    <script id="tasks" type="application/json">{{ tasks|json_script:"tasks" }}</script>
    <script id="project-name" type="application/json">{{ project.name|json_script:"project-name" }}</script>
    <script id="companies-by-state" type="application/json">{{ companies_by_state|json_script:"companies-by-state" }}</script>

</div>
{% endblock %}

{% block extra_scripts %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{% static 'js/dashboard_charts.js' %}"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        console.log('DOM content loaded');

        var totalProjects = JSON.parse(document.getElementById('total-projects').textContent);
        var totalTasks = JSON.parse(document.getElementById('total-tasks').textContent);
        var totalCompanies = JSON.parse(document.getElementById('total-companies').textContent);
        var activeProjects = JSON.parse(document.getElementById('active-projects').textContent);
        var completedProjectsYtd = JSON.parse(document.getElementById('completed-projects-ytd').textContent);
        var tasks = JSON.parse(document.getElementById('tasks').textContent);
        var projectName = JSON.parse(document.getElementById('project-name').textContent);
        var companiesByState = JSON.parse(document.getElementById('companies-by-state').textContent);

        console.log('Data:', totalProjects, totalTasks, totalCompanies, activeProjects, completedProjectsYtd, tasks, projectName, companiesByState);

        initializeCharts(totalProjects, totalTasks, totalCompanies, activeProjects, completedProjectsYtd, tasks, projectName, companiesByState);

        document.getElementById('project-select').addEventListener('change', function () {
            const projectId = this.value;
            console.log(`Selected project ID: ${projectId}`);

            const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;

            fetch(`?project_id=${projectId}`, {
                method: 'GET',
                headers: {
                    'X-Requested-With': 'XMLHttpRequest',
                    'X-CSRFToken': csrfToken
                }
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(data => {
                console.log('Data received:', data);
                updateDashboardData(
                    data.total_projects,
                    data.total_tasks,
                    data.total_companies,
                    data.active_projects,
                    data.completed_projects_ytd,
                    data.task_data,
                    data.project_name,
                    data.companies_by_state
                );
            })
            .catch(error => console.error('Error:', error));
        });
    });
</script>
{% endblock %}
