{% extends "projects/base.html" %}
{% load static %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<div class="dashboard">
    <div class="dashboard-header">
        <h1>Dashboard</h1>
        <div class="project-selection">
            <label for="project-select">Select Project:</label>
            <select id="project-select">
                <option value="all">All Projects</option>
                {% for project in projects %}
                    <option value="{{ project.id }}" {% if project == selected_project %}selected{% endif %}>{{ project.name }}</option>
                {% endfor %}
            </select>
        </div>
    </div>

    <div class="dashboard-container">
        <div class="dashboard-left">
            <div class="dashboard-cards">
                <div class="card total-projects">
                    <h2 id="total-projects">{{ total_projects }}</h2>
                    <p>Total Projects</p>
                </div>
                <div class="card total-tasks">
                    <h2 id="total-tasks">{{ total_tasks }}</h2>
                    <p>Total Tasks</p>
                </div>
                <div class="card total-companies">
                    <h2 id="total-companies">{{ total_companies }}</h2>
                    <p>Total Companies</p>
                </div>
                <div class="card active-projects">
                    <h2 id="active-projects">{{ active_projects }}</h2>
                    <p>Active Projects</p>
                </div>
                <div class="card completed-projects-ytd">
                    <h2 id="completed-projects-ytd">{{ completed_projects_ytd }}</h2>
                    <p>Projects Completed YTD</p>
                </div>
            </div>
        </div>

        <div class="dashboard-right">
            <div class="charts">
                <h2>Companies by State</h2>
                <div style="position: relative; height:400px; width:80%; margin: 0 auto;">
                    <canvas id="myPieChart"></canvas>
                </div>
            </div>
            <div class="task-progress-container">
                <div class="tasks">
                    <h2>Tasks for <span id="project-name">{{ project }}</span></h2>
                    <ul id="task-list">
                        {% for task in tasks %}
                            <li>{{ task.name }}: {{ task.start }} to {{ task.end }} (Progress: {{ task.progress }}%)</li>
                        {% endfor %}
                    </ul>
                </div>
                <div id="myGanttChart" class="gantt-chart"></div>
            </div>
        </div>
    </div>

    <!-- JSON Data -->
    <script id="dashboard-data" type="application/json">
        {
            "totalProjects": {{ total_projects }},
            "totalTasks": {{ total_tasks }},
            "totalCompanies": {{ total_companies }},
            "activeProjects": {{ active_projects }},
            "completedProjectsYtd": {{ completed_projects_ytd }},
            "tasks": {{ tasks_json|safe }},
            "projectName": {{ project_name_json|safe }},
            "companiesByState": {{ companies_by_state_json|safe }}
        }
    </script>
</div>
{% endblock %}

{% block extra_scripts %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.0"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="{% static 'js/dashboard_charts.js' %}"></script>
{% endblock %}
