{% extends "projects/base.html" %}
{% load static %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<div class="dashboard">
    <div class="dashboard-header">
        <h1>Dashboard</h1>
    </div>

    <!-- Project Selection Dropdown -->
    <div class="project-selection">
        <label for="project-select">Select Project:</label>
        <select id="project-select">
            {% for project in projects %}
                <option value="{{ project.id }}" {% if project == selected_project %}selected{% endif %}>{{ project.name }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="dashboard-cards">
        <div class="card total-projects">
            <h2>{{ total_projects }}</h2>
            <p>Total Projects</p>
        </div>
        <div class="card total-tasks">
            <h2>{{ total_tasks }}</h2>
            <p>Total Tasks</p>
        </div>
        <div class="card total-companies">
            <h2>{{ total_companies }}</h2>
            <p>Total Companies</p>
        </div>
        <div class="card active-projects">
            <h2>{{ active_projects }}</h2>
            <p>Active Projects</p>
        </div>
        <div class="card completed-projects-ytd">
            <h2>{{ completed_projects_ytd }}</h2>
            <p>Projects Completed YTD</p>
        </div>
    </div>

    <div class="charts">
        <h2>Student and Staff Chart</h2>
        <canvas id="myPieChart"></canvas>
    </div>
    <div class="charts">
        <h2>Total Subjects in Each Course</h2>
        <canvas id="myBarChart"></canvas>
    </div>
    <div class="charts">
        <h2>Total Students in Each Subject</h2>
        <canvas id="myLineChart"></canvas>
    </div>

    <!-- Task List -->
    <div class="tasks">
        <h2>Tasks for {{ project.name }}</h2>
        <ul id="task-list">
            {% for task in tasks %}
                <li>{{ task.name }}: {{ task.start }} to {{ task.end }} (Progress: {{ task.progress }}%)</li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}

{% block extra_scripts %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{% static 'js/dashboard_charts.js' %}"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var totalProjects = {{ total_projects }};
        var totalTasks = {{ total_tasks }};
        var totalCompanies = {{ total_companies }};
        var activeProjects = {{ active_projects }};
        var completedProjectsYtd = {{ completed_projects_ytd }};
        var tasks = {{ tasks|safe }};

        initializeCharts(totalProjects, totalTasks, totalCompanies, activeProjects, completedProjectsYtd, tasks);

        document.getElementById('project-select').addEventListener('change', function () {
            const projectId = this.value;
            fetch(`?project_id=${projectId}`, {
                headers: {
                    'X-Requested-With': 'XMLHttpRequest'
                }
            })
            .then(response => response.json())
            .then(data => {
                updateDashboardData(
                    data.total_projects,
                    data.total_tasks,
                    data.total_companies,
                    data.active_projects,
                    data.completed_projects_ytd,
                    data.task_data
                );
            });
        });
    });
</script>
{% endblock %}

