{% extends "projects/base.html" %}
{% load static %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<div>
    <h1>Dashboard</h1>
    <div class="dashboard-cards">
        <div class="card total-projects">
            <h2>{{ total_projects }}</h2>
            <p>Total Projects</p>
        </div>
        <div class="card total-tasks">
            <h2>{{ total_tasks }}</h2>
            <p>Total Tasks</p>
        </div>
        <div class="card total-companies">
            <h2>{{ total_companies }}</h2>
            <p>Total Companies</p>
        </div>
        <div class="card active-projects">
            <h2>{{ active_projects }}</h2>
            <p>Active Projects</p>
        </div>
        <div class="card completed-projects-ytd">
            <h2>{{ completed_projects_ytd }}</h2>
            <p>Projects Completed YTD</p>
        </div>
    </div>
    <div class="charts"
         data-total-projects="{{ total_projects }}"
         data-total-tasks="{{ total_tasks }}"
         data-total-companies="{{ total_companies }}"
         data-active-projects="{{ active_projects }}"
         data-completed-projects-ytd="{{ completed_projects_ytd }}">
        <canvas id="myPieChart"></canvas>
        <canvas id="myBarChart"></canvas>
        <canvas id="myLineChart"></canvas>
    </div>
</div>
{% endblock %}

{% block extra_scripts %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{% static 'js/dashboard_charts.js' %}"></script>
{% endblock %}
