{% extends "projects/base.html" %}
{% load static %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<div class="dashboard">
    <div class="dashboard-header">
        <h1>Dashboard</h1>
    </div>

    <!-- CSRF Token -->
    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">

    <!-- Project Selection Dropdown -->
    <div class="project-selection">
        <label for="project-select">Select Project:</label>
        <select id="project-select">
            <option value="all">All Projects</option>
            {% for project in projects %}
                <option value="{{ project.id }}" {% if project == selected_project %}selected{% endif %}>{{ project.name }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="dashboard-cards">
        <div class="card total-projects">
            <h2 id="total-projects">{{ total_projects }}</h2>
            <p>Total Projects</p>
        </div>
        <div class="card total-tasks">
            <h2 id="total-tasks">{{ total_tasks }}</h2>
            <p>Total Tasks</p>
        </div>
        <div class="card total-companies">
            <h2 id="total-companies">{{ total_companies }}</h2>
            <p>Total Companies</p>
        </div>
        <div class="card active-projects">
            <h2 id="active-projects">{{ active_projects }}</h2>
            <p>Active Projects</p>
        </div>
        <div class="card completed-projects-ytd">
            <h2 id="completed-projects-ytd">{{ completed_projects_ytd }}</h2>
            <p>Projects Completed YTD</p>
        </div>
    </div>

    <div class="charts">
        <h2>Companies by State</h2>
        <div style="position: relative; height:400px; width:100%">
            <canvas id="myPieChart"></canvas>
        </div>
    </div>

    <div class="charts">
        <h2>Task Progress</h2>
        <div style="position: relative; height:400px; width:100%">
            <canvas id="myGanttChart"></canvas>
        </div>
    </div>

    <!-- Task List -->
    <div class="tasks">
        <h2>Tasks for <span id="project-name">{{ project }}</span></h2>
        <ul id="task-list">
            {% for task in tasks %}
                <li>{{ task.name }}: {{ task.start }} to {{ task.end }} (Progress: {{ task.progress }}%)</li>
            {% endfor %}
        </ul>
    </div>

    <!-- JSON Data -->
    <script id="dashboard-data" type="application/json">
        {
            "totalProjects": {{ total_projects }},
            "totalTasks": {{ total_tasks }},
            "totalCompanies": {{ total_companies }},
            "activeProjects": {{ active_projects }},
            "completedProjectsYtd": {{ completed_projects_ytd }},
            "tasks": {{ tasks_json|safe }},
            "projectName": {{ project_name_json|safe }},
            "companiesByState": {{ companies_by_state_json|safe }}
        }
    </script>
</div>
{% endblock %}

{% block extra_scripts %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{% static 'js/dashboard_charts.js' %}"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        console.log('DOM content loaded');

        var dashboardData = JSON.parse(document.getElementById('dashboard-data').textContent);

        var totalProjects = dashboardData.totalProjects;
        var totalTasks = dashboardData.totalTasks;
        var totalCompanies = dashboardData.totalCompanies;
        var activeProjects = dashboardData.activeProjects;
        var completedProjectsYtd = dashboardData.completedProjectsYtd;
        var tasks = dashboardData.tasks;
        var projectName = dashboardData.projectName;
        var companiesByState = dashboardData.companiesByState;

        console.log('Data:', totalProjects, totalTasks, totalCompanies, activeProjects, completedProjectsYtd, tasks, projectName, companiesByState);

        initializeCharts(totalProjects, totalTasks, totalCompanies, activeProjects, completedProjectsYtd, tasks, projectName, companiesByState);

        document.getElementById('project-select').addEventListener('change', function () {
            const projectId = this.value;
            console.log(`Selected project ID: ${projectId}`);

            const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;

            fetch(`/dashboard/?project_id=${projectId}`, {
                method: 'GET',
                headers: {
                    'X-Requested-With': 'XMLHttpRequest',
                    'X-CSRFToken': csrfToken
                }
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(data => {
                console.log('Data received:', data);
                updateDashboardData(
                    data.total_projects,
                    data.total_tasks,
                    data.total_companies,
                    data.active_projects,
                    data.completed_projects_ytd,
                    data.task_data,
                    data.project_name,
                    data.companies_by_state
                );
            })
            .catch(error => console.error('Error:', error));
        });
    });
</script>
{% endblock %}{% extends "projects/base.html" %}
{% load static %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<div class="dashboard">
    <div class="dashboard-header">
        <h1>Dashboard</h1>
    </div>

    <!-- CSRF Token -->
    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">

    <!-- Project Selection Dropdown -->
    <div class="project-selection">
        <label for="project-select">Select Project:</label>
        <select id="project-select">
            <option value="all">All Projects</option>
            {% for project in projects %}
                <option value="{{ project.id }}" {% if project == selected_project %}selected{% endif %}>{{ project.name }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="dashboard-cards">
        <div class="card total-projects">
            <h2 id="total-projects">{{ total_projects }}</h2>
            <p>Total Projects</p>
        </div>
        <div class="card total-tasks">
            <h2 id="total-tasks">{{ total_tasks }}</h2>
            <p>Total Tasks</p>
        </div>
        <div class="card total-companies">
            <h2 id="total-companies">{{ total_companies }}</h2>
            <p>Total Companies</p>
        </div>
        <div class="card active-projects">
            <h2 id="active-projects">{{ active_projects }}</h2>
            <p>Active Projects</p>
        </div>
        <div class="card completed-projects-ytd">
            <h2 id="completed-projects-ytd">{{ completed_projects_ytd }}</h2>
            <p>Projects Completed YTD</p>
        </div>
    </div>

    <div class="charts">
        <h2>Companies by State</h2>
        <div style="position: relative; height:400px; width:100%">
            <canvas id="myPieChart"></canvas>
        </div>
    </div>

    <div class="charts">
        <h2>Task Progress</h2>
        <div style="position: relative; height:400px; width:100%">
            <canvas id="myGanttChart"></canvas>
        </div>
    </div>

    <!-- Task List -->
    <div class="tasks">
        <h2>Tasks for <span id="project-name">{{ project }}</span></h2>
        <ul id="task-list">
            {% for task in tasks %}
                <li>{{ task.name }}: {{ task.start }} to {{ task.end }} (Progress: {{ task.progress }}%)</li>
            {% endfor %}
        </ul>
    </div>

    <!-- JSON Data -->
    <script id="dashboard-data" type="application/json">
        {
            "totalProjects": {{ total_projects }},
            "totalTasks": {{ total_tasks }},
            "totalCompanies": {{ total_companies }},
            "activeProjects": {{ active_projects }},
            "completedProjectsYtd": {{ completed_projects_ytd }},
            "tasks": {{ tasks_json|safe }},
            "projectName": {{ project_name_json|safe }},
            "companiesByState": {{ companies_by_state_json|safe }}
        }
    </script>
</div>
{% endblock %}

{% block extra_scripts %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{% static 'js/dashboard_charts.js' %}"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        console.log('DOM content loaded');

        var dashboardData = JSON.parse(document.getElementById('dashboard-data').textContent);

        var totalProjects = dashboardData.totalProjects;
        var totalTasks = dashboardData.totalTasks;
        var totalCompanies = dashboardData.totalCompanies;
        var activeProjects = dashboardData.activeProjects;
        var completedProjectsYtd = dashboardData.completedProjectsYtd;
        var tasks = dashboardData.tasks;
        var projectName = dashboardData.projectName;
        var companiesByState = dashboardData.companiesByState;

        console.log('Data:', totalProjects, totalTasks, totalCompanies, activeProjects, completedProjectsYtd, tasks, projectName, companiesByState);

        initializeCharts(totalProjects, totalTasks, totalCompanies, activeProjects, completedProjectsYtd, tasks, projectName, companiesByState);

        document.getElementById('project-select').addEventListener('change', function () {
            const projectId = this.value;
            console.log(`Selected project ID: ${projectId}`);

            const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;

            fetch(`/dashboard/?project_id=${projectId}`, {
                method: 'GET',
                headers: {
                    'X-Requested-With': 'XMLHttpRequest',
                    'X-CSRFToken': csrfToken
                }
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(data => {
                console.log('Data received:', data);
                updateDashboardData(
                    data.total_projects,
                    data.total_tasks,
                    data.total_companies,
                    data.active_projects,
                    data.completed_projects_ytd,
                    data.task_data,
                    data.project_name,
                    data.companies_by_state
                );
            })
            .catch(error => console.error('Error:', error));
        });
    });
</script>
{% endblock %}
{% extends "projects/base.html" %}
{% load static %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<div class="dashboard">
    <div class="dashboard-header">
        <h1>Dashboard</h1>
    </div>

    <!-- CSRF Token -->
    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">

    <!-- Project Selection Dropdown -->
    <div class="project-selection">
        <label for="project-select">Select Project:</label>
        <select id="project-select">
            <option value="all">All Projects</option>
            {% for project in projects %}
                <option value="{{ project.id }}" {% if project == selected_project %}selected{% endif %}>{{ project.name }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="dashboard-cards">
        <div class="card total-projects">
            <h2 id="total-projects">{{ total_projects }}</h2>
            <p>Total Projects</p>
        </div>
        <div class="card total-tasks">
            <h2 id="total-tasks">{{ total_tasks }}</h2>
            <p>Total Tasks</p>
        </div>
        <div class="card total-companies">
            <h2 id="total-companies">{{ total_companies }}</h2>
            <p>Total Companies</p>
        </div>
        <div class="card active-projects">
            <h2 id="active-projects">{{ active_projects }}</h2>
            <p>Active Projects</p>
        </div>
        <div class="card completed-projects-ytd">
            <h2 id="completed-projects-ytd">{{ completed_projects_ytd }}</h2>
            <p>Projects Completed YTD</p>
        </div>
    </div>

    <div class="charts">
        <h2>Companies by State</h2>
        <div style="position: relative; height:400px; width:100%">
            <canvas id="myPieChart"></canvas>
        </div>
    </div>

    <div class="charts">
        <h2>Task Progress</h2>
        <div style="position: relative; height:400px; width:100%">
            <canvas id="myGanttChart"></canvas>
        </div>
    </div>

    <!-- Task List -->
    <div class="tasks">
        <h2>Tasks for <span id="project-name">{{ project }}</span></h2>
        <ul id="task-list">
            {% for task in tasks %}
                <li>{{ task.name }}: {{ task.start }} to {{ task.end }} (Progress: {{ task.progress }}%)</li>
            {% endfor %}
        </ul>
    </div>

    <!-- JSON Data -->
    <script id="dashboard-data" type="application/json">
        {
            "totalProjects": {{ total_projects }},
            "totalTasks": {{ total_tasks }},
            "totalCompanies": {{ total_companies }},
            "activeProjects": {{ active_projects }},
            "completedProjectsYtd": {{ completed_projects_ytd }},
            "tasks": {{ tasks_json|safe }},
            "projectName": {{ project_name_json|safe }},
            "companiesByState": {{ companies_by_state_json|safe }}
        }
    </script>
</div>
{% endblock %}

{% block extra_scripts %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{% static 'js/dashboard_charts.js' %}"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        console.log('DOM content loaded');

        var dashboardData = JSON.parse(document.getElementById('dashboard-data').textContent);

        var totalProjects = dashboardData.totalProjects;
        var totalTasks = dashboardData.totalTasks;
        var totalCompanies = dashboardData.totalCompanies;
        var activeProjects = dashboardData.activeProjects;
        var completedProjectsYtd = dashboardData.completedProjectsYtd;
        var tasks = dashboardData.tasks;
        var projectName = dashboardData.projectName;
        var companiesByState = dashboardData.companiesByState;

        console.log('Data:', totalProjects, totalTasks, totalCompanies, activeProjects, completedProjectsYtd, tasks, projectName, companiesByState);

        initializeCharts(totalProjects, totalTasks, totalCompanies, activeProjects, completedProjectsYtd, tasks, projectName, companiesByState);

        document.getElementById('project-select').addEventListener('change', function () {
            const projectId = this.value;
            console.log(`Selected project ID: ${projectId}`);

            const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;

            fetch(`/dashboard/?project_id=${projectId}`, {
                method: 'GET',
                headers: {
                    'X-Requested-With': 'XMLHttpRequest',
                    'X-CSRFToken': csrfToken
                }
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(data => {
                console.log('Data received:', data);
                updateDashboardData(
                    data.total_projects,
                    data.total_tasks,
                    data.total_companies,
                    data.active_projects,
                    data.completed_projects_ytd,
                    data.task_data,
                    data.project_name,
                    data.companies_by_state
                );
            })
            .catch(error => console.error('Error:', error));
        });
    });
</script>
{% endblock %}
{% extends "projects/base.html" %}
{% load static %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<div class="dashboard">
    <div class="dashboard-header">
        <h1>Dashboard</h1>
    </div>

    <!-- CSRF Token -->
    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">

    <!-- Project Selection Dropdown -->
    <div class="project-selection">
        <label for="project-select">Select Project:</label>
        <select id="project-select">
            <option value="all">All Projects</option>
            {% for project in projects %}
                <option value="{{ project.id }}" {% if project == selected_project %}selected{% endif %}>{{ project.name }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="dashboard-cards">
        <div class="card total-projects">
            <h2 id="total-projects">{{ total_projects }}</h2>
            <p>Total Projects</p>
        </div>
        <div class="card total-tasks">
            <h2 id="total-tasks">{{ total_tasks }}</h2>
            <p>Total Tasks</p>
        </div>
        <div class="card total-companies">
            <h2 id="total-companies">{{ total_companies }}</h2>
            <p>Total Companies</p>
        </div>
        <div class="card active-projects">
            <h2 id="active-projects">{{ active_projects }}</h2>
            <p>Active Projects</p>
        </div>
        <div class="card completed-projects-ytd">
            <h2 id="completed-projects-ytd">{{ completed_projects_ytd }}</h2>
            <p>Projects Completed YTD</p>
        </div>
    </div>

    <div class="charts">
        <h2>Companies by State</h2>
        <div style="position: relative; height:400px; width:100%">
            <canvas id="myPieChart"></canvas>
        </div>
    </div>

    <div class="charts">
        <h2>Task Progress</h2>
        <div style="position: relative; height:400px; width:100%">
            <canvas id="myGanttChart"></canvas>
        </div>
    </div>

    <!-- Task List -->
    <div class="tasks">
        <h2>Tasks for <span id="project-name">{{ project }}</span></h2>
        <ul id="task-list">
            {% for task in tasks %}
                <li>{{ task.name }}: {{ task.start }} to {{ task.end }} (Progress: {{ task.progress }}%)</li>
            {% endfor %}
        </ul>
    </div>

    <!-- JSON Data -->
    <script id="dashboard-data" type="application/json">
        {
            "totalProjects": {{ total_projects }},
            "totalTasks": {{ total_tasks }},
            "totalCompanies": {{ total_companies }},
            "activeProjects": {{ active_projects }},
            "completedProjectsYtd": {{ completed_projects_ytd }},
            "tasks": {{ tasks_json|safe }},
            "projectName": {{ project_name_json|safe }},
            "companiesByState": {{ companies_by_state_json|safe }}
        }
    </script>
</div>
{% endblock %}

{% block extra_scripts %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{% static 'js/dashboard_charts.js' %}"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        console.log('DOM content loaded');

        var dashboardData = JSON.parse(document.getElementById('dashboard-data').textContent);

        var totalProjects = dashboardData.totalProjects;
        var totalTasks = dashboardData.totalTasks;
        var totalCompanies = dashboardData.totalCompanies;
        var activeProjects = dashboardData.activeProjects;
        var completedProjectsYtd = dashboardData.completedProjectsYtd;
        var tasks = dashboardData.tasks;
        var projectName = dashboardData.projectName;
        var companiesByState = dashboardData.companiesByState;

        console.log('Data:', totalProjects, totalTasks, totalCompanies, activeProjects, completedProjectsYtd, tasks, projectName, companiesByState);

        initializeCharts(totalProjects, totalTasks, totalCompanies, activeProjects, completedProjectsYtd, tasks, projectName, companiesByState);

        document.getElementById('project-select').addEventListener('change', function () {
            const projectId = this.value;
            console.log(`Selected project ID: ${projectId}`);

            const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;

            fetch(`/dashboard/?project_id=${projectId}`, {
                method: 'GET',
                headers: {
                    'X-Requested-With': 'XMLHttpRequest',
                    'X-CSRFToken': csrfToken
                }
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(data => {
                console.log('Data received:', data);
                updateDashboardData(
                    data.total_projects,
                    data.total_tasks,
                    data.total_companies,
                    data.active_projects,
                    data.completed_projects_ytd,
                    data.task_data,
                    data.project_name,
                    data.companies_by_state
                );
            })
            .catch(error => console.error('Error:', error));
        });
    });
</script>
{% endblock %}
