/* Global styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 20px;
    position: relative;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 14px 20px;
    display: block;
}

nav ul li a:hover {
    background-color: #575757;
    border-radius: 4px;
}

nav ul li .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
}

nav ul li .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

nav ul li .dropdown-content a:hover {
    background-color: #575757;
    color: white;
}

nav ul li:hover .dropdown-content {
    display: block;
}

main {
    padding: 20px;
    margin-top: 20px;
    text-align: center;
}

h1 {
    color: #333;
    text-align: center;
}

button {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background-color: #575757;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    text-align: center;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
}

th {
    background-color: #333;
    color: white;
}

td {
    background-color: #f9f9f9;
}

.centered-link {
    display: inline-block;
    margin: 20px 0;
}

/* Dashboard specific styles */
.dashboard {
    padding: 20px;
    background-color: #f9f9f9;
}

.dashboard-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dashboard-header h1,
.project-selection {
    display: inline-block;
    margin-right: 20px;
}

.project-selection label {
    margin-right: 10px;
}

.dashboard-container {
    display: flex;
    justify-content: space-between;
}

.dashboard-left {
    flex: 1;
}

.dashboard-right {
    flex: 1;
}

.dashboard-cards {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.card {
    margin-bottom: 10px;
    padding: 10px;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    text-align: center;
    width: 100%;
    max-width: 300px;
}

.card h2 {
    font-size: 24px;
    margin: 0;
}

.card p {
    font-size: 12px;
    color: #666;
    margin-top: 5px;
}

.card.total-projects {
    background-color: #1abc9c;
    color: #fff;
}

.card.total-tasks {
    background-color: #e74c3c;
    color: #fff;
}

.card.total-companies {
    background-color: #f39c12;
    color: #fff;
}

.card.active-projects {
    background-color: #3498db;
    color: #fff;
}

.card.completed-projects-ytd {
    background-color: #9b59b6;
    color: #fff;
}

.charts {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    margin-bottom: 20px;
}

.timeline-container {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

#myPieChart, #myBarChart, #myLineChart {
    max-width: 100%;
}

#gantt {
    height: 400px;
    width: 100%;
}

#myBarChart, #myLineChart {
    max-width: 100%;
    max-height: 400px;
    width: 100%;
    height: auto;
}

/* New styles for task list and gantt chart alignment */
.task-progress-container {
    display: flex;
    align-items: 
    gap: 10px;
}

.tasks {
    flex: 1;
    max-width: 500px; /* Adjust this value as needed */
    text-align: center;
}
