/* Existing styles */

/* Dashboard specific styles */
.dashboard {
    padding: 20px;
    background-color: #f9f9f9;
}

.dashboard-header h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.dashboard-container {
    display: flex;
    justify-content: space-between;
}

.dashboard-left {
    flex: 1;
    margin-right: 20px;
}

.dashboard-right {
    flex: 1;
}

.dashboard-cards {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 20px;
}

.card {
    padding: 20px;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    text-align: center;
}

.card h2 {
    font-size: 36px;
    margin: 0;
}

.card p {
    font-size: 16px;
    color: #666;
    margin-top: 10px;
}

.card.total-projects {
    background-color: #1abc9c;
    color: #fff;
}

.card.total-tasks {
    background-color: #e74c3c;
    color: #fff;
}

.card.total-companies {
    background-color: #f39c12;
    color: #fff;
}

.card.active-projects {
    background-color: #3498db;
    color: #fff;
}

.card.completed-projects-ytd {
    background-color: #9b59b6;
    color: #fff;
}

.charts {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    margin-bottom: 20px;
}

.timeline-container {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

#myPieChart, #myBarChart, #myLineChart {
    max-width: 100%;
}

#gantt {
    height: 400px;
    width: 100%;
}

#myBarChart, #myLineChart {
    max-width: 100%;
    max-height: 400px;
    width: 100%;
    height: auto;
}
