/* Additional and modified styles for the new layout */

.dashboard-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.project-selection {
    display: inline-block;
    margin-left: 20px;
}

.project-selection select {
    font-size: 16px;
    padding: 5px;
}

.dashboard-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.dashboard-left {
    flex: 0 0 20%;
    max-width: 300px;
    margin-right: 20px;
}

.dashboard-right {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.dashboard-cards {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

.card {
    padding: 10px;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    text-align: center;
}

.card h2 {
    font-size: 24px;
    margin: 0;
}

.card p {
    font-size: 12px;
    color: #666;
    margin-top: 5px;
}

.card.total-projects {
    background-color: #1abc9c;
    color: #fff;
}

.card.total-tasks {
    background-color: #e74c3c;
    color: #fff;
}

.card.total-companies {
    background-color: #f39c12;
    color: #fff;
}

.card.active-projects {
    background-color: #3498db;
    color: #fff;
}

.card.completed-projects-ytd {
    background-color: #9b59b6;
    color: #fff;
}

.charts {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    margin-bottom: 20px;
}

.timeline-container {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

#myPieChart {
    max-width: 100%;
    width: 100%;
    height: auto;
}

#gantt {
    height: 400px;
    width: 100%;
}

#myBarChart, #myLineChart {
    max-width: 100%;
    max-height: 400px;
    width: 100%;
    height: auto;
}

/* New styles for task list and gantt chart alignment */
.task-progress-container {
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

.tasks {
    flex: 1;
    max-width: 300px;
    text-align: left;
}

.gantt-chart {
    flex: 2;
    width: 100%;
}
