{% extends "projects/base.html" %}

{% block content %}
  <h1>Are you sure you want to delete "{{ object }}"?</h1>
  <form method="post">{% csrf_token %}
    <input type="submit" value="Confirm">
    <a href="javascript:history.back()">Cancel</a>
  </form>
{% endblock %}
