{% extends "projects/base.html" %}
{% load static %}

{% block title %}Create Task{% endblock %}

{% block content %}
<div>
    <h1>Create a New Task{% if project %} for {{ project.name }}{% endif %}</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Create Task</button>
    </form>
</div>
{% endblock %}
