{% extends "projects/base.html" %}
{% load static %}

{% block title %}Create a New Task{% endblock %}

{% block content %}
<div>
    <h1>Create a New Task {{ if project.name }}</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Create a New Task</button>
    </form>
</div>
{% endblock %}
