{% extends "projects/base.html" %}
{% load static %}

{% block title %}Edit Task{% endblock %}

{% block content %}
<div>
    <h1>Edit Task: {{ task.name }}</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Save Changes</button>
    </form>
</div>
{% endblock %}
