{% extends "projects/base.html" %}
{% load static %}

{% block title %}My Tasks{% endblock %}

{% block content %}
<div>
    <h1>My Tasks</h1>
    <a href="{% url 'create_task_general' %}" class="centered-link">Create a new task</a>
    {% if tasks %}
        <table>
            <tr>
                <th>Name</th>
                <th>Company</th>
                <th>Assignee</th>
                <th>Start date</th>
                <th>Due date</th>
                <th>Is completed</th>
                <th>Actions</th>
            </tr>
            {% for task in tasks %}
                <tr>
                    <td>{{ task.name }}</td>
                    <td>
                        {% task.company.name }}</td>
                    <td>{{ task.assignee.username }}</td>
                    <td>{{ task.start_date }}</td>
                    <td>{{ task.due_date }}</td>
                    <td>{{ task.is_completed|yesno:"yes,no" }}</td>
                    <td><a href="{% url 'edit_task' task.id %}">Edit</a></td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>You have no tasks</p>
    {% endif %}
</div>
{% endblock %}
