{% extends "projects/base.html" %}
{% load static %}

{% block title %}Add Company{% endblock %}

{% block content %}
<div>
    <h1>Add a New Company</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Add Company</button>
    </form>
</div>
{% endblock %}

