{% extends "projects/base.html" %}
{% load static %}

{% block title %}Import Companies{% endblock %}

{% block content %}
<div>
    <h1>Import Companies</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Upload</button>
    </form>
    {% if error %}
        <div class="error">{{ error }}</div>
    {% endif %}
</div>
{% endblock %}

