{% extends "projects/base.html" %}
{% load static %}

{% block title %}Projects for {{ company.name }}{% endblock %}

{% block content %}
<div>
    <h1>Projects for {{ company.name }}</h1>
    {% if projects %}
        <table>
            <tr>
                <th>Name</th>
                <th>Number of tasks</th>
            </tr>
            {% for project in projects %}
                <tr>
                    <td><a href="{% url 'show_project' project.id %}">{{ project.name }}</a></td>
                    <td>{{ project.tasks.all|length }}</td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>No projects found for this company</p>
    {% endif %}
</div>
{% endblock %}
