{% extends "projects/base.html" %}
{% load static %}

{% block title %}Companies{% endblock %}

{% block content %}
<div>
    <h1>Companies</h1>
    {% if companies %}
        <ul>
            {% for company in companies %}
                <li><a href="{% url 'search_projects_by_company' company.id %}">{{ company.name }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No companies found</p>
    {% endif %}
</div>
{% endblock %}
