{% extends "projects/base.html" %}
{% load static %}

{% block title %}Companies{% endblock %}

{% block content %}
<div>
    <h1>Companies</h1>
    <a href="{% url 'add_company' %}" class="button">Add New Company</a>
    <a href="{% url 'import_companies' %}" class="button">Import Companies</a>
    {% if companies %}
        <table>
            <tr>
                <th>Name</th>
                <th>Address</th>
                <th>City</th>
                <th>State</th>
                <th>Country</th>
                <th>ZIP Code</th>
                <th>Description</th>
            </tr>
            {% for company in companies %}
                <tr>
                    <td>{{ company.name }}</td>
                    <td>{{ company.street_address }}</td>
                    <td>{{ company.city }}</td>
                    <td>{{ company.state }}</td>
                    <td>{{ company.country }}</td>
                    <td>{{ company.zip_code }}</td>
                    <td>{{ company.description }}</td>
                    <td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>No companies found.</p>
    {% endif %}
</div>
{% endblock %}
