{% extends "projects/base.html" %}
{% load static %}

{% block title %}Companies{% endblock %}

{% block content %}
<div>
    <h1>Companies</h1>
    <a href="{% url 'add_company' %}" class="centered-link">Add a new company</a>
    {% if companies %}
        <ul>
            {% for company in companies %}
                <li>{{ company.name }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No companies found</p>
    {% endif %}
</div>
{% endblock %}

