{% extends "base.html" %}

{% block title %}Create Project{% endblock %}

{% block content %}
<div>
    <h1>Create Project</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Create Project</button>
    </form>
</div>
{% endblock %}

