{% extends "projects/base.html" %}
{% load static %}

{% block title %}Create Project{% endblock %}

{% block content %}
<div>
    <h1>Create a New Project</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <p>Don't see your company? <a href="{% url 'add_company' %}">Add it here</a>.</p>
        <button type="submit">Create</button>
    </form>
</div>
{% endblock %}

