{% extends "projects/base.html" %}
{% load static %}

{% block title %}Edit Project{% endblock %}

{% block content %}
<div>
    <h1>Edit Project: {{ project.name }}</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <p>Don't see your company? <a href="{% url 'add_company' %}">Add it here</a>.</p>
        <button type="submit">Save Changes</button>
    </form>
</div>
{% endblock %}
