{% extends "projects/base.html" %}
{% load static %}

{% block title %}Projects{% endblock %}

{% block content %}
<div class="main-content">
    <h1>My Projects</h1>
    <a href="{% url 'create_project' %}" class="centered-link">Create a new project</a>
    {% if projects %}
        <div class="table-wrapper">
            <table>
                <tr>
                    <th>Name</th>
                    <th>Number of tasks</th>
                </tr>
                {% for project in projects %}
                    <tr>
                        <td><a href="{% url 'show_project' project.id %}">{{ project.name }}</a></td>
                        <td>{{ project.tasks.all|length }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    {% else %}
        <p>You are not assigned to any projects</p>
    {% endif %}
</div>
{% endblock %}
