{% extends "projects/base.html" %}
{% load static %}

{% block title %}Projects{% endblock %}

{% block content %}
<div>
    <h1>My Projects</h1>
    <a href="{% url 'create_project' %}" class="centered-link">Create a new project</a>
    {% if projects %}
        <table>
            <tr>
                <th>Name</th>
                <th>Number of tasks</th>
                <th>Conp
                <th>Actions</th>
            </tr>
            {% for project in projects %}
                <tr>
                    <td><a href="{% url 'show_project' project.id %}">{{ project.name }}</a></td>
                    <td>{{ project.tasks.all|length }}</td>
                    <td>
                        <a href="{% url 'edit_project' project.id %}">Edit</a> |
                        <a href="{% url 'delete_project' project.id %}">Delete</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>You are not assigned to any projects</p>
    {% endif %}
</div>
{% endblock %}
