{% extends "projects/base.html" %}
{% load static %}

{% block title %}{{ project.name }}{% endblock %}

{% block content %}
<div class="main-content">
    <h1>{{ project.name }}</h1>
    <p>{{ project.description }}</p>
    <h2>Tasks</h2>
    <a href="{% url 'create_task' %}" class="centered-link">Create Task</a>
    {% if tasks %}
        <div class="table-wrapper">
            <table>
                <tr>
                    <th>Name</th>
                    <th>Assignee</th>
                    <th>Start date</th>
                    <th>Due date</th>
                    <th>Is completed</th>
                </tr>
                {% for task in tasks %}
                    <tr>
                        <td>{{ task.name }}</td>
                        <td>{{ task.assignee.username }}</td>
                        <td>{{ task.start_date }}</td>
                        <td>{{ task.due_date }}</td>
                        <td>{{ task.is_completed|yesno:"yes,no" }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    {% else %}
        <p>This project has no tasks</p>
    {% endif %}
</div>
{% endblock %}
