{% extends "projects/base.html" %}
{% load static %}

{% block title %}{{ project.name }}{% endblock %}

{% block content %}
<div>
    <h1>{{ project.name }}</h1>
    <p>{{ project.description }}</p>
    <h2>Tasks</h2>
    <a href="{% url 'create_task' project.id %}" class="centered-link">Create Task</a>
    {% if tasks %}
        <table>
            <tr>
                <th>Name</th>
                <th>Company</th>
                <th>Assignee</th>
                <th>Start date</th>
                <th>Due date</th>
                <th>Is completed</th>
                <th>Actions</th>
            </tr>
            {% for task in tasks %}
                <tr>
                    <td>{{ task.name }}</td>
                    <td>
                        {% task.company.name %}
                            {{ task.company.name }}

                    <td>{{ task.assignee.username }}</td>
                    <td>{{ task.start_date }}</td>
                    <td>{{ task.due_date }}</td>
                    <td>{{ task.is_completed|yesno:"yes,no" }}</td>
                    <td><a href="{% url 'edit_task' task.id %}">Edit</a></td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>This project has no tasks</p>
    {% endif %}
</div>
{% endblock %}
